USE [master]
GO
/****** Object:  Database [QuanLiATM]    Script Date: 12/08/2017 15:41:02 ******/
CREATE DATABASE [QuanLiATM] ON  PRIMARY 
( NAME = N'ATM', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ATM.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ATM_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ATM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiATM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiATM]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/08/2017 15:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustID] [nchar](10) NOT NULL,
	[Name] [nchar](30) NOT NULL,
	[Phone] [int] NOT NULL,
	[Email] [nchar](30) NOT NULL,
	[Addr] [ntext] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([CustID], [Name], [Phone], [Email], [Addr]) VALUES (N'cust1     ', N'cust01                        ', 12345, N'cust@gamil.com                ', N'hatay')
/****** Object:  Table [dbo].[Config]    Script Date: 12/08/2017 15:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[ConfigID] [int] NOT NULL,
	[MinWithdraw] [int] NOT NULL,
	[MaxWithdraw] [int] NOT NULL,
	[DateModified] [date] NOT NULL,
	[NumPerPage] [int] NOT NULL,
 CONSTRAINT [PK_ConfigID] PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Config] ([ConfigID], [MinWithdraw], [MaxWithdraw], [DateModified], [NumPerPage]) VALUES (123, 10, 20, CAST(0x9A3D0B00 AS Date), 10)
/****** Object:  Table [dbo].[ATM]    Script Date: 12/08/2017 15:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATM](
	[ATMID] [int] NOT NULL,
	[Branch] [text] NOT NULL,
	[Address] [text] NOT NULL,
 CONSTRAINT [PK_ATM] PRIMARY KEY CLUSTERED 
(
	[ATMID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ATM] ([ATMID], [Branch], [Address]) VALUES (122, N'haiphong', N'haiphong')
INSERT [dbo].[ATM] ([ATMID], [Branch], [Address]) VALUES (123, N'hanoi', N'hanoi')
/****** Object:  Table [dbo].[OverDraft]    Script Date: 12/08/2017 15:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OverDraft](
	[ODID] [int] NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_OverDraft] PRIMARY KEY CLUSTERED 
(
	[ODID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OverDraft] ([ODID], [Value]) VALUES (2, 20)
/****** Object:  Table [dbo].[Money]    Script Date: 12/08/2017 15:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Money](
	[MoneyID] [int] NOT NULL,
	[MoneyValue] [float] NOT NULL,
 CONSTRAINT [PK_Money] PRIMARY KEY CLUSTERED 
(
	[MoneyID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Money] ([MoneyID], [MoneyValue]) VALUES (1, 10)
/****** Object:  Table [dbo].[LogType]    Script Date: 12/08/2017 15:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogType](
	[LogTypeID] [int] NOT NULL,
	[Description] [ntext] NOT NULL,
 CONSTRAINT [PK_LogType] PRIMARY KEY CLUSTERED 
(
	[LogTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[LogType] ([LogTypeID], [Description]) VALUES (1, N'rut')
INSERT [dbo].[LogType] ([LogTypeID], [Description]) VALUES (2, N'chuyen')
/****** Object:  Table [dbo].[WithdrawLimit]    Script Date: 12/08/2017 15:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WithdrawLimit](
	[WDID] [int] NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_WithdrawLimit] PRIMARY KEY CLUSTERED 
(
	[WDID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[WithdrawLimit] ([WDID], [Value]) VALUES (1, 50)
/****** Object:  Table [dbo].[Stock]    Script Date: 12/08/2017 15:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[StockID] [int] NOT NULL,
	[MoneyID] [int] NOT NULL,
	[ATMID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Stock] ([StockID], [MoneyID], [ATMID], [Quantity]) VALUES (12, 1, 123, 13)
/****** Object:  Table [dbo].[Account]    Script Date: 12/08/2017 15:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] NOT NULL,
	[Balance] [int] NOT NULL,
	[CustID] [nchar](10) NOT NULL,
	[ODID] [int] NOT NULL,
	[WDID] [int] NOT NULL,
	[AccountNo] [nchar](13) NOT NULL,
 CONSTRAINT [PK_AccountID] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountID], [Balance], [CustID], [ODID], [WDID], [AccountNo]) VALUES (97041, 50000, N'cust1     ', 2, 1, N'41           ')
/****** Object:  Table [dbo].[Card]    Script Date: 12/08/2017 15:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[CardNo] [nchar](13) NOT NULL,
	[PIN] [nchar](6) NOT NULL,
	[Status] [nchar](10) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[ExpiredDate] [datetime] NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[CardNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Card] ([CardNo], [PIN], [Status], [StartDate], [ExpiredDate], [AccountID]) VALUES (N'1234567890123', N'1234  ', N'active    ', CAST(0x0000A83E00000000 AS DateTime), CAST(0x0000A83F00000000 AS DateTime), 97041)
/****** Object:  Table [dbo].[Log]    Script Date: 12/08/2017 15:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[LogID] [int] NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[Amount] [int] NOT NULL,
	[Details] [ntext] NOT NULL,
	[LogTypeID] [int] NOT NULL,
	[ATMID] [int] NOT NULL,
	[CardNo] [nchar](13) NOT NULL,
	[ToCard] [nchar](13) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Log] ([LogID], [LogDate], [Amount], [Details], [LogTypeID], [ATMID], [CardNo], [ToCard]) VALUES (1, CAST(0x0000A83E00000000 AS DateTime), 200000, N'rut tien', 1, 123, N'1234567890123', NULL)
INSERT [dbo].[Log] ([LogID], [LogDate], [Amount], [Details], [LogTypeID], [ATMID], [CardNo], [ToCard]) VALUES (2, CAST(0x0000A83F00000000 AS DateTime), 10000, N'chuyen tien', 2, 122, N'1234567890123', NULL)
/****** Object:  ForeignKey [FK_Stock_ATM]    Script Date: 12/08/2017 15:41:03 ******/
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_ATM] FOREIGN KEY([ATMID])
REFERENCES [dbo].[ATM] ([ATMID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_ATM]
GO
/****** Object:  ForeignKey [FK_Stock_Money]    Script Date: 12/08/2017 15:41:03 ******/
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Money] FOREIGN KEY([MoneyID])
REFERENCES [dbo].[Money] ([MoneyID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Money]
GO
/****** Object:  ForeignKey [FK_AccountID_Customer]    Script Date: 12/08/2017 15:41:03 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_AccountID_Customer] FOREIGN KEY([CustID])
REFERENCES [dbo].[Customer] ([CustID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_AccountID_Customer]
GO
/****** Object:  ForeignKey [FK_Card_AccountID]    Script Date: 12/08/2017 15:41:03 ******/
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK_Card_AccountID] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK_Card_AccountID]
GO
/****** Object:  ForeignKey [FK_Log_ATM2]    Script Date: 12/08/2017 15:41:03 ******/
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_ATM2] FOREIGN KEY([ATMID])
REFERENCES [dbo].[ATM] ([ATMID])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_ATM2]
GO
/****** Object:  ForeignKey [FK_Log_Card]    Script Date: 12/08/2017 15:41:03 ******/
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_Card] FOREIGN KEY([CardNo])
REFERENCES [dbo].[Card] ([CardNo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_Card]
GO
/****** Object:  ForeignKey [FK_Log_LogType]    Script Date: 12/08/2017 15:41:03 ******/
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_LogType] FOREIGN KEY([LogTypeID])
REFERENCES [dbo].[LogType] ([LogTypeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_LogType]
GO
